* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.app {
    padding-bottom: 60px; /* Bottom navigation padding */
}

.logo {
    width: 70.06px;
    height: 21px;
    object-fit: contain;
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .loading-popup {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }
  
  .loading-popup-content h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
  }
  
  .loading-popup-content p {
    margin: 0;
    color: #666;
  }
  
  .loading-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  
