.triple-pana-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.trgback-button {
    width: 34px;
    height: 34px;
    background-color: #046a38;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
}

.balance {
    display: flex;
    align-items: center;
}

.wallet-icon {
    width: 20px;
    margin-right: 8px;
}

.game-type-selector {
    margin-top: 15px;
}

.pana-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.pana-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 5px;
}

.pana-label {
    font-weight: bold;
    color: #4caf50;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #4caf50;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}

.submit-button {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
